<div class="content" [class.move]="animate">
    <div class="content-timer">
        <div class="content-h">
            <div class="time"> {{ hours | number:'2.0'}} <span>h</span> </div>
            <div class="content-btn" *ngIf="show">
                <button type="button" aria-label="Increase minutes" (click)="increment('H')"> + </button>
                <button type="button" aria-label="Decrease minutes" (click)="decrement('H')"> - </button>
            </div>
        </div>
        <div class="content-m">
            <div class="time"> {{ minutes | number:'2.0'}} <span>m</span> </div>
            <div class="content-btn" *ngIf="show">
                <button type="button" aria-label="Increase minutes" (click)="increment('M')"> + </button>
                <button type="button" aria-label="Decrease minutes" (click)="decrement('M')"> - </button>
            </div>
        </div>
        <div class="content-s">
            <div class="time"> {{ seconds | number:'2.0'}} <span>s</span> </div>
            <div class="content-btn" *ngIf="show">
                <button type="button" aria-label="Increase minutes" (click)="increment('S')"> + </button>
                <button type="button" aria-label="Decrease minutes" (click)="decrement('S')"> - </button>
            </div>
        </div>
    </div>
    <div class="content-btn-action">
        <button type="button" aria-label="Start timer" (click)="start()" [disabled]="disabled">&#9658;</button>
        <button type="button" aria-label="Stop timer" (click)="stop()">&#9724;</button>
        <button type="button" aria-label="Reset timer" (click)="reset()">&#8635;</button>
    </div>
</div>

<audio #idAudio controls class="dnone">
    <source type="audio/mp3" src="assets/sound/pleasant-sound-alarm.mp3">
    Your browser does not support the audio element.
</audio>
